@use '../../sass/variables';

.item {
  width: 100%;
  height: clamp(4.8rem, 10vw, 6.4rem);
  border-bottom: 1px solid variables.$lt-grey-300;
  border-radius: 5px 5px 0 0;

  display: flex;
  align-items: center;
  padding: 0 2.4rem;
  cursor: pointer;
  position: relative;

  @media screen and (max-width: 540px) {
    padding: 0 1.6rem;
  }

  &__checkbox-container {
    width: clamp(2rem, 3vw, 2.4rem);
    height: clamp(2rem, 3vw, 2.4rem);
    border: 1px solid variables.$lt-grey-300;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
  }

  &__checkbox-container:hover {
    border: double 1px transparent;
    background-image: linear-gradient(
        variables.$lt-grey-100,
        variables.$lt-grey-100
      ),
      linear-gradient(variables.$checkbox-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  &__checkbox-container--active {
    width: clamp(2rem, 3vw, 2.4rem);
    height: clamp(2rem, 3vw, 2.4rem);
    border: double 1px transparent;
    background-image: linear-gradient(variables.$checkbox-gradient);
    background-origin: border-box;
    background-clip: content-box, padding-box;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-check {
    width: 1.2rem;
    height: 1rem;
    display: none;

    @media screen and (max-width: 540px) {
      width: 1rem;
      height: 0.8rem;
    }
  }

  &__checkbox-container--active &__icon-check {
    display: block;
  }

  &__checkbox {
    opacity: 0;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    position: absolute;
  }

  &__description {
    color: variables.$lt-grey-500;
    margin-left: 2.4rem;

    @media screen and (max-width: 540px) {
      margin-left: 1.2rem;
    }
  }

  &__description-checked {
    text-decoration: line-through;
    color: variables.$lt-grey-300;
    margin-left: 2.4rem;

    @media screen and (max-width: 540px) {
      margin-left: 1.2rem;
    }
  }

  &__edit {
    display: flex;
    align-items: center;

    visibility: hidden;
  }

  &__edit-input {
    color: variables.$lt-grey-500;
    position: absolute;
    width: 70%;
    left: 7.2rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: variables.$lt-grey-100;

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  &__edit--visible {
    visibility: visible;
  }

  &__icons-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-left: auto;
    fill: variables.$lt-grey-400;
  }

  &__icon {
    width: clamp(1.2rem, 3vw, 1.6rem);
    height: clamp(1.2rem, 3vw, 1.6rem);
    cursor: pointer;
    visibility: hidden;
    transition: 0.1s;

    &:hover {
      fill: variables.$lt-grey-500;
    }

    @media screen and (max-width: 900px) {
      visibility: visible;
    }
  }

  &:hover .item__icon {
    visibility: visible;
  }
}
