@use '../../sass/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
  margin-bottom: 4rem;

  &__heading {
    color: variables.$lt-grey-100;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
  }

  &__icon-container {
    cursor: pointer;
  }
}
