@use '../../sass/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
  margin-bottom: 4rem;

  &__heading {
    color: variables.$lt-grey-100;
    font-size: clamp(2rem, 5vw, 4rem);
    text-transform: uppercase;
    letter-spacing: 1.5rem;
  }

  &__icon-container {
    cursor: pointer;
    padding-right: 1rem;

    & img {
      width: clamp(2rem, 5vw, 2.6rem);
    }
  }
}
