@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  background-image: url('./assets/images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  display: flex;
  justify-content: center;
}
